# Laravel
/vendor/
/node_modules/
.env
.env.*
.env.backup
.env.production

/public/storage
/public/hot
/public/build

/storage/*.key
/storage/logs/
/storage/framework/
/storage/pail

/bootstrap/cache/*.php

# PHPUnit
.phpunit.result.cache
.phpunit.cache

# IDE & Editor
/.vscode/
/.idea/
/.fleet/
/.nova/
/.zed

# OS / Log / Temp
npm-debug.log
yarn-error.log
*.log
*.bak
*.tmp

# Others
Homestead.json
Homestead.yaml
auth.json
.phpactor.json
